@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(common.css);

body {padding-top:50px;color:#878888;}
body.brands,
body.presence,
body.news,
body.contact {background:transparent url('../img/tile.png') repeat;background-attachment:fixed;}
.preface {background: url(../img/header-second.png) 50% bottom repeat-x;padding-bottom:110px;}
a:hover {text-decoration:none;}

.magenta {color:#ec0185;}

h2, .h2 {font-family: 'Oswald', sans-serif;font-weight:400;}
h3, .h3 {font-family: 'Oswald', sans-serif;font-weight:300;}
h4, .h4 {font-family: 'Oswald', sans-serif;font-weight:300;}

/* WRAP */
.wrap {padding-top:0px;}
@media (min-width: 768px){
  .wrap {padding-top:32px;}
}

/* CIRLCES */
.circular {position:relative;margin:30px;}
.circular .link {position:absolute;top:calc(50% - 24px);left:0;width:100%;z-index:999;color:#FFF;font-size:2em;text-shadow:1px 1px 2px #000;}

/* CONTENT */
.content p, .preface p {font-family:'Oswald', sans-serif;font-weight:300;font-size:1.4em;color:#888888;}
.content h3, .preface h3 {color:#000;}
@media (min-width: 768px) {
  .content p.lead {font-size:1.6em;}
  .preface p.lead {font-size:1.6em;}
}

/* OUR STORY */
.company h2 {margin-top:0px;}
.company h2 span {border: 3px solid #e3e3e3;display:inline-block;padding:8px;}
.offices p {border-left:4px solid #ec0185;padding-left:15px;}

/* CONTACT */
.contact-wrap {background-color:#fff;box-shadow:2px 3px 9px #cccccc;border:1px solid #e3e3e3;position:relative;}
.contact-wrap form {padding:25px;font-family: 'Oswald', sans-serif;}
.contact-wrap .bottom {background:transparent url('../img/contact.png') 50% 0 no-repeat;position:absolute;bottom:-50px;width:100%;height:75px;z-index:999;}

/* FOOTER */
.footer {background-color:#1a1b1d;color:#7a7b7c;}
.footer a {color:#fff;}

/* POSTSCRIPT */
.postscript {background-color:#383b3d;color:#fff;}
.postscript .social a.linkedin {background: transparent url(../img/social.png) -74px;width:38px;height:38px;display:block;float:left;text-indent:-9999px;}
.postscript .social a.contact {background: transparent url(../img/social.png) -111px;width:38px;height:38px;display:block;float:left;text-indent:-9999px;}

/* HOME */
.slideshow-head {position:relative;}
.slideshow-head .carousel {position:relative;}
.slideshow-head .headline {position:absolute;z-index:299;top:0;left:0;}

/* NAVIGATION */
.navbar-brand {background:transparent url('../img/logo-mobile.png') no-repeat;text-indent:-9999px;width:150px;}
.navbar-default {background-color:#383b3d;font-family: 'Oswald', sans-serif;font-weight:300;font-size:1.2em;text-transform:uppercase;}
.navbar-default .navbar-nav>li>a {color:#fff;}
.navbar-default .navbar-nav>li>a:hover {color:#ec0185;}
.navbar-default .navbar-nav>li>a.collection {background-color:#000;}
.navbar-default .navbar-nav>li>a.active {color:#ec0185;}
.navbar-default .navbar-nav {display:inline-block;float:none;}
.navbar-default .navbar-collapse {text-align:center;}
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left:0px !important;width:75px;}
  .navbar-default .navbar-nav>li>a {padding:25px 15px;}
  .navbar-brand {background:transparent url('../img/logo.png') no-repeat; height:104px;text-indent:-9999px;}
  .navbar-default {background: transparent url('../img/header.png') repeat-x;height:104px;margin-top:0px;font-family: 'Oswald', sans-serif;font-weight:300;font-size:1.2em;text-align:center;text-transform: uppercase;border-color:transparent;}
}

/* CAROUSEL FADE */
.carousel-fade .carousel-inner .item {opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;}
.carousel-fade .carousel-inner .active {opacity:1;}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {left:0;opacity:0;z-index:1;}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {opacity:1;}
.carousel-fade .carousel-control {z-index:2;}

/* MASONRY */
.grid-item {width:280px;}
.grid-item article {border: 1px solid #e1e1e1;box-shadow:2px 3px 9px #cccccc;float:left;margin:10px;background-color: #FFF;}
.grid-item article p {padding:15px;}
@media (max-width: 768px) {
  .grid-item  {width:100%;}
}