<div class="container">
  <div class="row space-25 row-grid">
    <div class="col-sm-3">
      <h3>Europe</h3>
      <p>Lindestraat 58 - 9700 Oudenaarde<br />
        Showroom: Meersbloem-Melden 42<br />
        Belgium<br />
        T +32 (0)55 30 54 20 - F +32 (0)55 30 54 19<br />
        info@leomilgroup.com</p>
    </div>
    <div class="col-sm-3">
      <h3>International</h3>
      <p>Niu Dun Industrial estate<br />
        Shipai, Wang Niu Dun, Dongguan Guangdong Province<br />
        China (postal code 523216)<br />
        广东省东莞市望牛墩镇石排村牛顿工业区 二楼直销部 (邮编523216)<br />
        Phone +86 769 3901 8500 - Fax +86 769 3901 8502</p>
    </div>
    <div class="col-sm-3">
      <h3>North America</h3>
      <p>1955 Highland Forrest Court<br />
        Chesterfield, Missouri 63017<br />
        United States<br />
      </p>
      <p>Richard Shapiro +1 314-277-9972<br />
        Paul Shapiro +1 314-406-7204
      </p>
      <p>rshapiro@pnrshoes.com<br />
        pshapiro@pnrshoes.com</p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>